body {
  font-family: Lato, sans-serif;
  color: #313030;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

a {
  color: #d8d2d2;
  text-decoration: none;
}

.container {
  position: static;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
}

.footer-section {
  margin-top: 0px;
  background-color: #f0f0f0;
}

.footer-text {
  color: #000;
  font-size: 16px;
}

.social-button {
  margin: 4px;
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px -14px #000;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  color: #e9e3e3;
}

.social-button:hover {
  border: 2px solid #000;
  background-color: #d8d2d2;
}

.social-icons {
  margin-top: 16px;
  margin-bottom: 0px;
  float: right;
}

.social-icons.footer {
  margin-bottom: 74px;
}

.image {
  max-height: 35px;
  min-height: 30px;
  margin-top: 12px;
}

.nav-menu {
  margin-left: 20px;
  float: left;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link {
  padding-right: 10px;
  padding-left: 10px;
}

.social-image {
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
}

.social-image:hover {
  min-height: 25px;
  min-width: 25px;
}

.div-block {
  max-height: 100%;
  max-width: 75px;
  float: right;
}

.social-icon {
  min-height: 30px;
  min-width: 30px;
  float: right;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
}

.property-top-section {
  margin-top: 66px;
  padding-bottom: 0px;
}

.heading {
  margin-top: 56px;
  font-family: Abel, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

.heading.contact-heading {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #fff;
}

.heading.property-photos {
  margin-top: 0px;
}

.separator-line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 25px auto 35px;
  background-image: -webkit-linear-gradient(270deg, red, red);
  background-image: linear-gradient(180deg, red, red);
}

.separator-line.description {
  margin-bottom: 0px;
}

.main-property-image {
  max-width: 100%;
}

.property-photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.property-photo {
  overflow: hidden;
  max-height: 25%;
  max-width: 25%;
  min-height: 25%;
  min-width: 25%;
  padding: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #000;
}

.property-stats-image {
  width: 80px;
  height: 80px;
}

.property-statis-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 4px 4px 27px -10px #000;
}

.property-stats-image-holder {
  padding: 10px 20px 20px;
  border: 1px none #000;
}

.property-stats-image-holder.last-property-stat {
  padding-top: 10px;
}

.stats-label {
  margin-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats-value {
  margin-top: 11px;
  font-size: 24px;
}

.property-stats-separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 17px;
}

.property-stats-separator-image {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.property-description-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.property-description {
  width: 50%;
}

.paragraph {
  text-align: left;
}

.city {
  margin-bottom: 27px;
  color: red;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
}

.social-icons-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link {
  color: #000;
}

.footer-link {
  color: #000;
}

.footer-link:hover {
  color: red;
}

.floor-plan {
  max-width: 100%;
  min-height: 500px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 4px 4px 27px -10px #000;
}

.virtual-tour {
  max-width: 100%;
  min-height: 500px;
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
  box-shadow: 4px 4px 27px -10px #000;
}

.footer-width {
  display: block;
  width: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 4px 4px 27px -10px #000;
}

.row {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.headshot-holder {
  display: block;
  min-width: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: 0px none #000;
  background-image: url('../images/rick-saunders.png');
  background-position: 0px 0px;
  background-size: cover;
}

.headshot-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-section {
  padding-top: 41px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 55%, .5), hsla(0, 0%, 55%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 55%, .5), hsla(0, 0%, 55%, .5));
}

.contact-info-column {
  min-height: 300px;
  padding: 40px;
  background-image: url('../images/white-triangle.svg'), -webkit-linear-gradient(270deg, #ddd, #ddd);
  background-image: url('../images/white-triangle.svg'), linear-gradient(180deg, #ddd, #ddd);
  background-position: 100% 31px, 0px 0px;
  background-size: 75px, auto;
  background-repeat: no-repeat, repeat;
}

.contact-form-column {
  max-height: 300px;
  padding: 40px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.form-label {
  float: left;
}

.text-field {
  padding-right: 51px;
  padding-left: 39px;
  float: none;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  background-image: url('../images/user-icon-red.svg');
  background-position: 6px 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.text-field.comments {
  margin-bottom: 20px;
  padding-left: 17px;
  background-image: none;
}

.text-field.email {
  padding-left: 39px;
  background-image: url('../images/ico-email-black-red.svg');
  background-position: 9px 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.send-button {
  min-width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  border: 2px solid red;
  border-radius: 10px;
  background-color: transparent;
  background-image: url('../images/ico-arrow-bright-red.svg');
  background-position: 67% 49%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  color: red;
  text-transform: uppercase;
}

.send-button:hover {
  background-color: red;
  background-image: none;
  color: #fff;
}

.map-section {
  margin-bottom: 0px;
}

.contact-info-heading {
  margin-bottom: 0px;
  text-align: left;
}

.contact-text-block {
  text-align: left;
}

.row-2 {
  overflow: hidden;
  max-height: 80px;
}

.contact-street-address {
  text-align: left;
}

.contact-phone {
  margin-top: 25px;
  text-align: left;
}

.row-3 {
  min-height: 75px;
}

.phone-icon {
  margin-top: 22px;
}

.virtual-tour-section {
  background-image: -webkit-linear-gradient(270deg, #e4e4e4, #e4e4e4);
  background-image: linear-gradient(180deg, #e4e4e4, #e4e4e4);
}

.video-tour-section {
  background-image: -webkit-linear-gradient(270deg, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(180deg, #f3f3f3, #f3f3f3);
}

.video {
  box-shadow: 4px 4px 27px -10px #000;
}

.floor-plan-section {
  overflow: hidden;
  background-image: -webkit-linear-gradient(270deg, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(180deg, #f3f3f3, #f3f3f3);
}

.property-photos-section {
  margin-top: 0px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.property-information-section {
  background-image: -webkit-linear-gradient(270deg, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(180deg, #f3f3f3, #f3f3f3);
  box-shadow: none;
}

.section-icon {
  width: 25px;
  height: 25px;
}

// Extra for drupal
.adminimal-admin-toolbar.toolbar-horizontal.toolbar-tray-open .region-content {
  margin-top: 70px;
}
.adminimal-admin-toolbar .navbar {
  top: 30px;
}
.adminimal-admin-toolbar .region-content {
  margin-top: 50px;
}
.mapplic-map.mapplic-zoomable .mapplic-map-image, .mapplic-map.mapplic-zoomable.mapplic-dragging .mapplic-map-image {
  left: 0;
}
.virtual-tour {
  height: 560px;
}
.field--name-field-gallery .field--item {
  display: inline-block;
}
.field--name-field-gallery .field--item  a > img {
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 147px;
}
.headshot-holder {
  background: unset !important;
}
.headshot-holder img {
  min-height: 300px;
  margin: 0 auto;
  //margin-right: 0;
}
#get_in_touch .btn-primary:hover {
  border-color: #ff1e00;
}
a.photoswipe.property-photo {
    padding: 0;
}
.headshot-column {
    background: #dddddd;
}
.mfp-wrap {
    z-index: 99999 !important;
    background: #000000d1;
}
.mapplic-levels-select {
    background-color: #ddd !important;
}
img.mapplic-tooltip-thumbnail {
    display: none !important;
}
h4.mapplic-tooltip-title {
    padding-bottom: 10px;
}
nav.nav-menu.w-nav-menu.w--nav-menu-open, .menu-button.w-nav-button.w--open {
    background: #000 !important;
}
nav.nav-menu.w-nav-menu.w--nav-menu-open a {
color: #fff !important;
}

@media (max-width: 991px) {
  .container {
    padding-right: 100px;
    padding-left: 100px;
  }
  .footer-text {
    font-size: 14px;
    line-height: 18px;
  }
  .heading {
    margin-top: 52px;
    font-size: 30px;
    line-height: 34px;
  }
  .heading.red-caption {
    font-size: 24px;
    line-height: 28px;
  }
  .heading.top-heading {
    margin-top: 27px;
  }
  .property-photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .property-photo {
    max-height: 25%;
    max-width: 25%;
  }
  .property-stats-image {
    width: 60px;
    height: 60px;
  }
  .stats-label {
    margin-top: 10px;
    font-size: 12px;
  }
  .stats-value {
    margin-top: 5px;
    font-size: 18px;
  }
  .floor-plan {
    height: auto;
    min-height: 400px;
  }
  .virtual-tour {
    height: auto;
    min-height: 400px;
    box-shadow: 4px 4px 27px -10px #000;
  }
  .contact-container {
    position: static;
    display: block;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    position: relative;
    right: -10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .headshot-holder {
    position: relative;
    min-width: 370px;
    margin-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .headshot-column {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact-section {
    background-image: -webkit-linear-gradient(270deg, #c2c2c2, #c2c2c2);
    background-image: linear-gradient(180deg, #c2c2c2, #c2c2c2);
  }
  .contact-info-column {
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd);
    background-image: linear-gradient(180deg, #ddd, #ddd);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .contact-form-column {
    display: block;
  }
  .mobile-contact-form-container {
    padding: 50px 130px;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .social-icons {
    margin-right: 15px;
  }
  .heading {
    font-size: 30px;
    line-height: 30px;
  }
  .property-photos {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .property-photo {
    max-width: 30%;
    min-height: 30%;
    min-width: 30%;
  }
  .menu-button {
    float: right;
  }
  .property-statis {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .property-statis-images {
    width: 400px;
    padding-top: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    box-shadow: none;
  }
  .property-stats-image-holder {
    padding: 0px 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .property-stats-image-holder.last-stat {
    padding-right: 150px;
  }
  .property-stats-image-holder.first-stat {
    padding-left: 150px;
  }
  .property-stats-separator {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .property-stats-separator.third-separator {
    display: none;
  }
  .property-description-holder {
    padding-bottom: 20px;
  }
  .floor-plan {
    height: auto;
    min-height: 300px;
  }
  .virtual-tour {
    height: auto;
    min-height: 300px;
  }
  .video-container {
    padding: 0px 10px;
  }
  ._360-virtual-tour-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .floor-plan-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .map-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .row {
    right: 0px;
  }
  .contact-info-column {
    background-image: -webkit-linear-gradient(270deg, #ddd, #ddd);
    background-image: linear-gradient(180deg, #ddd, #ddd);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .property-information-section {
    background-image: none;
  }
  .mobile-contact-form-container {
    padding-right: 70px;
    padding-left: 70px;
  }
}

@media (max-width: 479px) {
  .social-icons {
    margin-right: 0px;
  }
  .heading {
    font-size: 24px;
  }
  .heading.contact-heading {
    color: #000;
  }
  .separator-line {
    margin-bottom: 25px;
  }
  .property-photo {
    max-height: 50%;
    max-width: 50%;
    min-height: 50%;
    min-width: 50%;
  }
  .menu-button {
    float: right;
  }
  .property-stats-image {
    width: 40px;
    height: 40px;
  }
  .property-statis-images {
    width: 200px;
  }
  .property-stats-image-holder {
    max-width: 85px;
    min-width: 85px;
    border-style: none;
  }
  .property-stats-image-holder.last-property-stat {
    display: none;
  }
  .stats-label {
    font-size: 10px;
  }
  .property-stats-separator {
    padding-right: 10px;
    padding-left: 10px;
  }
  .property-stats-separator.third-separator {
    display: block;
  }
  .property-stats-separator.second-separator {
    display: none;
  }
  .property-stats-separator.fourth-separator {
    display: none;
  }
  .property-description {
    width: 70%;
  }
  .brand {
    padding-right: 10px;
  }
  .map {
    max-height: 300px;
  }
  .contact-container {
    box-shadow: none;
  }
  .headshot-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-section {
    background-image: none;
  }
  .mobile-contact-form-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .mobile-phone-get-in-touch {
    display: block;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .form-block {
    max-width: 350px;
    min-width: 130px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

