// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Header
.navbar-default {
    background-color: #fff;
    .logo {
		img {
		    max-width: 200px;
		}
	}
	.navbar-nav > li > a {
    	color: #000;
	}
}

@media (min-width: @grid-float-breakpoint) {
	// Header
	.navbar-nav {
	    padding-top: 8px;
	}
}

@media (max-width : 768px) {
	.pull-left {
	     float: none !important; 
	}
}

// slider
.fullwidth {
    width: 100%;
    margin-left: auto;
	margin-right: auto;
	max-width: initial;
}
.slider {
	margin: 0;
	overflow: hidden;
}
.navbar {
    margin-bottom: 0;
}
.slider .slide {width: 100%; height: 100%;}

.slick-prev {
    left: 0;
    background: red;
}
.slick-next {
    right: 0;
    background: red;
}
.slick-dots {
  bottom: 0px;
  margin-left: 0; /* Fixes the visible horizontal scroll bar */
}
.slick-slide img {
    width: 100%;
}

.main-page-content {
    background: #f8f8f8;
}

.section {
    padding: 60px 0;
}

h2 {
	line-height: 50px;
	text-align: center;
}

.sprator {
    height: 2px;
    background-color: #7B2D2B;
    width: 20px;
    z-index: 19;
    margin: 0 auto 20px auto;
}
// Property sections
.property-section {
    padding: 60px 0;
    text-align: center;
    max-width: 560px;
	margin: 0 auto;
	h2 {
		color: #C81515;
	}
    .field-address {
    	font-size: 14px;
		font-weight: 700;
    }
    .field-body{
    	padding-top: 60px;
    	text-align: left;
    }
}
.propery-properties {
	background: #F0F0F0;
	padding: 100px 0;
	.property {
		text-align: center;
		background-image: url('../images/line.png');
		background-position: right;
		background-repeat: no-repeat;
		display: block;
		&.last {
			background: unset;
	 	}
		.field {
			.field--label {
				margin-top: 22px;
				font-size: 15px;
				font-weight: 500; 
			}
			.field--item  {
				font-size: 26px;
				line-height: 39px;
			}
		}
	}
	
}

.tour360-embed {
	height: 730px;
}
.map-embed {
	height: 600px;
}

.adminimal-admin-toolbar{
	.pswp, #mapplic.mapplic-fullscreen {
	    z-index: 9999;
	}
}

#mapplic, .mapplic-search-form {
    background: #fff !important;
}

#contact {
	background: #000000;
	color: #ffffff;
	padding: 100px 0;
	.contact-section{
		width: 500px;
		margin: 0 auto;
		.image, .info {
		    display: inline-block;
		    vertical-align: top;
		    max-width: 50%;
		}
		span.title {
		    text-align: left;
		    margin: 0;
		    font-size: 19px;
		    line-height: 36px;
		    letter-spacing: 3px;
		}
		.image {
		    background: #000;
		    padding: 2px;
		    border: 1px solid #7F7F7F;
		    .field {
				padding: 20px;
				background: #7f7f7f;
				margin: 1px;
		    }
		}
		.info{
			margin-left: 50px;
			.field {
				line-height: 25px;
				font-size: 13px;
			}
			.field--name-field-contact-name {
				line-height: 34px;
				font-size: 18px;
			}
			.field.field--name-field-contact-phone {
			    margin-top: 30px;
			    .field-item {
			    	color: #887F7F;
			    }
			}

		}
	}
}
.main-image img {
    width: 100%;
}

.footer {
    margin-top: 0;
}