.field--name-field-floor-plans .image-preview {
	position: relative;
	overflow: hidden;
}
.marker-form {
	position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.8);
    z-index: 999;
    padding: 10px;
    color: #fff;
}
.marker-form .form-item {
	padding-bottom: 15px;
}

.marker-form .description, .marker-form .form-item .description {
	color: #fff;
}
.marker-form .inline-form-item {
	display: inline-block;
	margin-right: 10px;
}
.marker-form .form-wrapper {
    margin-top: 15px;
    clear: both;
}
.marker-form select {
    color: #000;
}
.marker-form .thumbnail {
    float: left;
    padding: 0 10px 10px 0;
}
.close-marker-button {
	text-align: right;
}
.close-marker-button span {
	padding: 0px 4px;
	color: #000;
	background: #E0E0E0;
}

// .field--name-field-floor-plan-data {
// 	display: none;
// }