{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{{ attach_library('uptown/extra-property-page') }}

<div {% if branded %} data-collapse="medium" {% else %} data-collapse="small" {% endif %} data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="w-container">
      <a href="{{ base_url }}" class="brand w-nav-brand">
        {% if branded %}
          <img src="{{ agent_company_image['url'] }}" alt="Home" class="image">
        {% else %}        
          <img src="{{ base_url }}/themes/uptown/extra/property-page/images/uptown-photo-logo.png" alt="Uptown Photo" class="image">
        {% endif %}
      </a>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      
      <div class="social-icons w-clearfix">
        {% if branded %}
          {% if node.uid.0.entity.field_linkedin.0.value %}
            <div class="social-icon">
              <a href="{{ node.uid.0.entity.field_linkedin.0.value }}" target="_blank" class="w-inline-block">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/linkedinblack.svg" alt="Uptown Photo LinkedIn" class="social-image">
              </a>
            </div>
          {% endif %}

          {% if node.uid.0.entity.field_twitter.0.value %}
            <div class="social-icon">
              <a href="{{ node.uid.0.entity.field_twitter.0.value }}" target="_blank" class="w-inline-block">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/twitterblack.svg" alt="Uptown Photo Twitter" class="social-image">
              </a>
            </div>
          {% endif %}

          {% if node.uid.0.entity.field_facebook.0.value %}
            <div class="social-icon">
              <a href="{{ node.uid.0.entity.field_facebook.0.value }}" target="_blank" class="w-inline-block">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-fb-black.svg" alt="Uptown Photo Facebook" class="social-image">
              </a>
            </div>
          {% endif %}

        {% else %}
          <div class="social-icon">
            <a href="https://www.linkedin.com/company/uptown-photo/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/linkedinblack.svg" alt="Uptown Photo LinkedIn" class="social-image">
            </a>
          </div>
          <div class="social-icon">
            <a href="https://twitter.com/uptownfoto/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/twitterblack.svg" alt="Uptown Photo Twitter" class="social-image">
            </a>
          </div>
          <div class="social-icon">
            <a href="https://www.facebook.com/uptownfoto/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-fb-black.svg" alt="Uptown Photo Facebook" class="social-image">
            </a>
          </div>
        {% endif %}
      </div>
      
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#property" class="nav-link w-nav-link">Property</a>
        {% if content.field_gallery.0 %}
          <a href="#photos" class="nav-link w-nav-link">Photos</a>
        {% endif %}
        {% if content.field_video.0  %}
          <a href="#video" class="nav-link w-nav-link">Video</a>
        {% endif %}
        {% if content.field_tour_360_link.0 %}
          <a href="#tour360" class="nav-link w-nav-link">360 Tour</a>
        {% endif %}
        {% if content.field_floor_plan.0 %}
          <a href="#floor_plan" class="nav-link w-nav-link">Floor Plan</a>
        {% endif %}
        {% if content.field_location.0 %}
          <a href="#map" class="nav-link w-nav-link">Map</a>
        {% endif %}
        
        {% if branded %}
          <a href="#get_in_touch" class="nav-link w-nav-link">Contact</a>
        {% endif %}
      </nav>
    </div>
  </div>
  <div class="property-top-section">
    <div class="w-container">
      <h1 class="heading top-heading">
        <!-- Property address -->
        {% if content.field_location_address[0]["address_line1"]["#value"] %}
          {{ content.field_location_address[0]["address_line1"]["#value"] }},
        {% endif %}
        <br>
        {% if content.field_location_address[0]["locality"]["#value"] %}
          {{ content.field_location_address[0]["locality"]["#value"] }},
        {% endif %}

        {% if content.field_location_address[0]["administrative_area"]["#value"] %}
          {{ content.field_location_address[0]["administrative_area"]["#value"] }},
        {% endif %}

        {% if content.field_location_address[0]["postal_code"]["#value"] %}
          {{ content.field_location_address[0]["postal_code"]["#value"] }}
        {% endif %}
      </h1>
      <div>{{ status_message }}</div>
      <div class="separator-line"></div>
      {% if content.field_gallery.0 %}
        <img src="{{ main_image['url'] }}" alt="Main Property Image" srcset="{{ main_image['url'] }} 500w, {{ main_image['url'] }} 800w, {{ main_image['url'] }} 1020w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="main-property-image">
      {% endif %}
    </div>
  </div>

  <!-- Property properties -->
  {% if (content.field_bedrooms.0 or content.field_bathrooms.0 or content.field_square_feet.0 or content.field_lot_size.0 or content.field_year_built.0) %}
    <div id="property" class="property-information-section">
      <div class="w-container">
        <div class="property-statis">
          <div class="property-statis-images">
            {% if content.field_bedrooms.0 %}
              <div class="property-stats-image-holder">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-info-bedrooms.svg" alt="Bedrooms" class="property-stats-image">
                <div class="stats-label">Bedrooms</div>
                <div class="stats-value">{{ content.field_bedrooms }}</div>
              </div>
            {% endif %}

            {% if content.field_bathrooms.0 %}
              <div class="property-stats-separator">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/line.png" class="property-stats-separator-image">
              </div>
              <div class="property-stats-image-holder">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-info-bathrooms.svg" alt="Bathrooms" class="property-stats-image">
                <div class="stats-label">Bathrooms</div>
                <div class="stats-value">{{ content.field_bathrooms }}</div>
              </div>
            {% endif %}

            {% if content.field_square_feet.0 %}
              <div class="property-stats-separator second-separator">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/line.png" class="property-stats-separator-image">
              </div>
              <div class="property-stats-image-holder">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-info-square-feet.svg" alt="Square Feet" class="property-stats-image">
                <div class="stats-label">Square Feet</div>
                <div class="stats-value">{{ content.field_square_feet }}</div>
              </div>
            {% endif %}

            {% if content.field_lot_size.0 %}
              <div class="property-stats-separator third-separator">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/line.png" class="property-stats-separator-image">
              </div>
              <div class="property-stats-image-holder">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-info-lot-size.svg" alt="Lot Size" class="property-stats-image">
                <div class="stats-label">Lot Size</div>
                <div class="stats-value">{{ content.field_lot_size }}</div>
              </div>
            {% endif %}
            
            {% if content.field_year_built.0 %}
              <div class="property-stats-separator fourth-separator">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/line.png" class="property-stats-separator-image">
              </div>
              <div class="property-stats-image-holder last-property-stat">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-info-year-built.svg" alt="Year Built" class="property-stats-image">
                <div class="stats-label">Year Built</div>
                <div class="stats-value">{{ content.field_year_built }}</div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="property-description-holder">
          <div class="property-description">
            <h2 class="heading red-caption">{{ label }}</h2>
            <div class="separator-line description"></div>
            {% if content.field_location_address[0]["locality"]["#value"] or content.field_location_address[0]["administrative_area"]["#value"] %}
              <h3 class="city">
                {% if content.field_location_address[0]["locality"]["#value"] %}
                  {{ content.field_location_address[0]["locality"]["#value"] }},
                {% endif %}

                {% if content.field_location_address[0]["administrative_area"]["#value"] %}
                  {{ content.field_location_address[0]["administrative_area"]["#value"] }}
                {% endif %}
              </h3>
            {% endif %}

            {% if content.body.0 %}
              <div class="paragraph">{{ content.body }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.field_gallery.0 %}
  <div id="photos" class="property-photos-section">
    <h1 class="heading property-photos">Property Photos</h1><img src="{{ base_url }}/themes/uptown/extra/property-page/images/property-photos-red.svg" class="section-icon">
    <div class="separator-line"></div>
    <div class="property-photos w-container">
      {{ content.field_gallery }}
      <!-- <div class="property-photo"><img src="{{ base_url }}/themes/uptown/extra/property-page/images/01.png" width="420" srcset="{{ base_url }}/themes/uptown/extra/property-page/images/01-p-500.png 500w, {{ base_url }}/themes/uptown/extra/property-page/images/01-p-800.png 800w, {{ base_url }}/themes/uptown/extra/property-page/images/01.png 1020w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 30vw, (max-width: 991px) 180px, 233px" class="property-photo-image"></div> -->
    </div>
  </div>
  {% endif %}

  {% if content.field_video.0 %}
  <div id="video" class="video-tour-section">
    <div class="video-container w-container">
      <h1 class="heading">Video Tour</h1>
      <img src="{{ base_url }}/themes/uptown/extra/property-page/images/play-button-red.svg" class="section-icon">
      <div class="separator-line"></div>
      <div style="padding-top:56.17021276595745%" class="video w-video w-embed">
        <!-- <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F6ZfuNTqbHE8%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D6ZfuNTqbHE8&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F6ZfuNTqbHE8%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe> -->
        {{ node.field_video.value|raw }}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- 360 tour -->
  {% if content.field_tour_360_link.0 %}
    <div id="tour360" class="virtual-tour-section">
      <div class="_360-virtual-tour-container w-container">
        <h1 class="heading">360 Virtual Tour</h1>
        <img src="{{ base_url }}/themes/uptown/extra/property-page/images/360-virtual-tour-red.svg" class="section-icon">
        <div class="separator-line"></div>
        <div class="virtual-tour">
          <iframe name="if" src="{{ content.field_tour_360_link[0]['#url'] }}" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Floor plan -->
  {% if content.field_floor_plans.0 %}
    <div id="floor_plan" class="floor-plan-section">
      <div class="floor-plan-container w-container">
        <h1 class="heading">Interactive Floor Plan</h1><img src="{{ base_url }}/themes/uptown/extra/property-page/images/floor-plan--dark-red.svg" class="section-icon">
        <div class="separator-line"></div>
        <div class="floor-plan">
          <!-- Map -->
          <div id="mapplic"></div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.field_location.0 %}
  <div id="map" class="map-section">
    <div class="map-container w-container">
      <h1 class="heading">Property Location</h1><img src="{{ base_url }}/themes/uptown/extra/property-page/images/map-icon-red.png" class="section-icon">
      <div class="separator-line"></div>
      <!-- <div data-disable-scroll="1" data-widget-latlng="39.0704493,-76.8814198" data-widget-tooltip="Property Location" class="map w-widget w-widget-map"></div> -->
      <div class="map w-widget w-widget-map">{{ content.field_location }}</div>
    </div>
  </div>
  {% endif %}

  {% if branded %}
  <div id="get_in_touch" class="contact-section">
    <h1 class="heading contact-heading">Contact Me</h1>
    <div class="contact-container w-container">
      <div class="row w-row">
        <div class="headshot-column w-col w-col-4 w-col-medium-4">
          <div class="headshot-holder">
            <img src="{{ agent_image['url'] }}" alt="{{ node.uid.0.entity.field_agent_name.0.value }}" class="img-responsive">
          </div>
        </div>
        <div class="contact-info-column w-col w-col-4 w-col-medium-4">
          <h4 class="contact-info-heading">Get in Touch!</h4>
          <div>
            <div class="contact-text-block">Let&#x27;s talk. Give me a call today.</div>
          </div>
          <div>
            <div class="row-3 w-row">
              <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/phone-red.png" width="25" height="25" srcset="{{ base_url }}/themes/uptown/extra/property-page/images/phone-red-p-500.png 500w, {{ base_url }}/themes/uptown/extra/property-page/images/phone-red.png 512w" sizes="(max-width: 991px) 100vw, 25px" class="phone-icon">
              </div>
              <div class="column w-col w-col-9 w-col-small-9 w-col-tiny-9">
                <div class="contact-phone">{{ node.uid.0.entity.field_phone.0.value }}</div>
              </div>
            </div>
          </div>
          <div>
            <div class="row-2 w-row">
              <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/map-icon-red.png" width="25" height="25">
              </div>
              <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
                <!-- <p class="contact-street-address">123 Street<br>Suite #1<br>City, State Zip</p> -->
                <p class="contact-street-address">{{ node.uid.0.entity.field_company_address.0.value }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form-column w-col w-col-4 w-col-medium-4">
          <div class="form-block w-form">
            {{content.field_contact}}
            <!-- <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix">
              <input type="text" class="text-field visitor-name w-input" maxlength="256" autofocus="true" name="name-2" data-name="Name 2" placeholder="Enter your name" id="name-2">
              <input type="email" class="text-field email w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required="">
              <textarea id="field-2" name="field-2" placeholder="How can I help you?" maxlength="5000" data-name="Field 2" class="text-field comments w-input"></textarea>
              <input type="submit" value="Send" data-wait="Please wait..." class="send-button w-button">
            </form> -->
            <!-- <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="footer-section">
    <div class="container w-container">
      <div class="footer-holder">
        <div class="footer-width">
          <div class="footer-text">© 2017-2018 <a href="https://www.uptown-photo.com/" target="_blank" class="footer-link">Uptown Photo</a>, LLC. All rights reserved. Your <a href="https://www.uptown-photo.com/" target="_blank" class="footer-link">real estate photographer </a>and <a href="https://www.uptown-photo.com/" target="_blank" class="footer-link">real estate marketing</a> provider.</div>
        </div>
      </div>
      <div class="social-icons-holder w-clearfix">
        <div class="social-icons footer">
          {% if branded %}
            {% if node.uid.0.entity.field_facebook.0.value %}
              <a href="{{ node.uid.0.entity.field_facebook.0.value }}" target="_blank" class="w-inline-block">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-fb-black.svg" width="39" alt="Uptown Photo Facebook" class="social-button">
              </a>
            {% endif %}

            {% if node.uid.0.entity.field_twitter.0.value %}
              <a href="{{ node.uid.0.entity.field_twitter.0.value }}" target="_blank" class="w-inline-block">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/twitterblack.svg" width="39" alt="Uptown Photo Twitter" class="social-button">
              </a>
            {% endif %}
            <!-- <a href="https://www.instagram.com/uptownfoto/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/instagramblack.svg" width="39" alt="Uptown Photo Instagram" class="social-button">
            </a> -->
            {% if node.uid.0.entity.field_linkedin.0.value %}
              <a href="{{ node.uid.0.entity.field_linkedin.0.value }}" target="_blank" class="w-inline-block">
                <img src="{{ base_url }}/themes/uptown/extra/property-page/images/linkedinblack.svg" width="39" alt="Uptown Photo LinkedIn" class="social-button">
              </a>
            {% endif %}
          {% else %}

            <a href="https://www.facebook.com/uptownfoto/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/ico-fb-black.svg" width="39" alt="Uptown Photo Facebook" class="social-button">
            </a>
            <a href="https://twitter.com/uptownfoto/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/twitterblack.svg" width="39" alt="Uptown Photo Twitter" class="social-button">
            </a>
            <a href="https://www.instagram.com/uptownfoto/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/instagramblack.svg" width="39" alt="Uptown Photo Instagram" class="social-button">
            </a>
            <a href="https://www.linkedin.com/company/uptown-photo/" target="_blank" class="w-inline-block">
              <img src="{{ base_url }}/themes/uptown/extra/property-page/images/linkedinblack.svg" width="39" alt="Uptown Photo LinkedIn" class="social-button">
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
