{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{# Navbar #}
<header class="navbar navbar-default" id="navbar" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse">
      <!-- Logo -->
      <a class="logo navbar-btn pull-left" href="{{ base_url }}" title="Home" rel="home">
      {% if branded %}
        <img src="{{ agent_company_image['url'] }}" alt="Home">
      {% else %}
        <img src="/nodeaxis/uptown/sites/default/files/logo.png" alt="Home">
      {% endif %}
      </a>

      <!-- Menu -->
      <nav role="navigation" id="uptown-main-menu">
        <h2 class="sr-only" id="block-uptown-main-menu-menu">Main navigation</h2>
        <ul class="menu nav navbar-nav">
          <li>
            <a href="#property" class="is-active">Property</a>
          </li>

          {% if content.field_tour_360_link.0 %}
          <li>
            <a href="#tour360" class="is-active">360 TOUR</a>
          </li>
          {% endif %}
          
          {% if content.field_floor_plan.0 %}
          <li>
            <a href="#floor_plan" class="is-active">Floor plan</a>
          </li>
          {% endif %}

          {% if content.field_map.0 %}
          <li>
            <a href="#map" class="is-active">MAP</a>
          </li>
          {% endif %}

          {% if content.field_gallery.0 %}
          <li>
            <a href="#photos" class="is-active">PHOTOS</a>
          </li>
          {% endif %}

          {% if branded %}
          <li>
            <a href="#contact" class="is-active">CONTACT</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

  </div>
</header>
<div class="main-page-content">
  <!-- Silder -->
  {% if content.field_gallery.0 %}
  <div id="hero-slider fullwidth container-fluid">
    <div class="main-image">
      <img src="{{ main_image['url'] }}">
    </div>
    <!-- Slick gallery-->
    <!-- <div class="slider">
      <div class="slide">
        <img src="{{ base_url }}/themes/uptown/images/test/1.jpg">
      </div>
      <div class="slide">
        <img src="{{ base_url }}/themes/uptown/images/test/2.jpg">
      </div>
      <div class="slide">
        <img src="{{ base_url }}/themes/uptown/images/test/3.jpg">
      </div>
    </div> -->
  </div>
  {% endif %}

  <!-- Property main information -->
  <div id="property" class="container">
    <div class="row">
      <div class="section property-section col-ls-12">
          <!-- Title field -->
          {{ title_prefix }}
          <h2{{ title_attributes }}>{{ label }}</h2>
          {{ title_suffix }}
          <div class="sprator"></div>
          <!-- Property address -->
          {% if content.field_address.0 %}
            <div class="field-address">{{ content.field_address }}</div>
          {% endif %}
          <!-- Body -->
          {% if content.body.0 %}
            <div class="field-body">{{ content.body }}</div>
          {% endif %}
      </div>
    </div>
  </div>

  <!-- Property properties -->
  {% if (content.field_bedrooms.0 or content.field_bathrooms.0 or content.field_square_feet.0 or content.field_lot_size.0 or content.field_year_built.0) %}
  <div class="propery-properties">
    <div class="container">
      <div class="row">
        <!-- Complete space -->
        <div class="col-md-1"></div>
        {% if content.field_bedrooms.0 %}
          <div class="col-md-2 property">
            <img src="{{ base_url }}/themes/uptown/images/bedrooms.png">
            <p class="property-field-content">{{ content.field_bedrooms }}</p>
          </div>
        {% endif %}

        {% if content.field_bathrooms.0 %}
        <div class="col-md-2 property">
          <img src="{{ base_url }}/themes/uptown/images/bathrooms.png">
          <p class="property-field-content">{{ content.field_bathrooms }}</p>
        </div>
        {% endif %}

        {% if content.field_square_feet.0 %}
          <div class="col-md-2 property">
            <img src="{{ base_url }}/themes/uptown/images/plan.png">
            <p class="property-field-content">{{ content.field_square_feet }}</p>
          </div>
        {% endif %}

        {% if content.field_lot_size.0 %}
          <div class="col-md-2 property">
            <img src="{{ base_url }}/themes/uptown/images/garden.png">
            <p class="property-field-content">{{ content.field_lot_size }}</p>
          </div>
        {% endif %}
        
        {% if content.field_year_built.0 %}
          <div class="col-md-2 property last">
            <img src="{{ base_url }}/themes/uptown/images/calender.png">
            <p class="property-field-content">{{ content.field_year_built }}</p>
          </div>
        {% endif %}

        <!-- Complete space -->
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- 360 tour -->
  {% if content.field_tour_360_link.0 %}
  <div id="tour360" class="container section">
    <h2>360 Virtual Tour</h2>
    <div class="sprator"></div>
    <div class="tour360-embed">
      <iframe name="if" src="{{ content.field_tour_360_link[0]['#url'] }}" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
    </div>
  </div>
  {% endif %}

  <!-- Floor plan -->
  {% if content.field_floor_plan.0 %}
  <div id="floor_plan" class="section">
    <div class="container map-container">
      <h2>Floor plan</h2>
      <div class="sprator"></div>
      <!-- Map -->
      <div id="mapplic"></div>
    </div>
  </div>
  {% endif %}

  <!-- Map -->
  {% if content.field_map.0 %}
  <div id="map" class="section">
    <h2>Map</h2>
    <div class="sprator"></div>
    <div class="map-embed">{{ node.field_map.value|raw }}</div>
  </div>
  {% endif %}

  <!-- Gallery -->
  {% if content.field_gallery.0 %}
  <div id="photos" class="container section">
    <h2>Photo gallery</h2>
    <div class="sprator"></div>
    {{ content.field_gallery }}
  </div>
  {% endif %}

  {% if branded %}
  <div id="contact">
    <div class="contact-section">
      <div class="image">
        <div class="field">
          <img src="{{ agent_image['url'] }}" alt="{{ node.uid.0.entity.field_agent_name.0.value }}" class="img-responsive">
        </div>
      </div>
      <div class="info">
        <span class="title">Contact</span>
        <div class="field field--name-field-contact-name">{{ node.uid.0.entity.field_agent_name.0.value }}</div>
        <div class="field">{{ node.uid.0.entity.field_company_name.0.value }}</div>
        <div class="field">{{ node.uid.0.entity.field_company_address.0.value }}</div>
        <div class="field field--name-field-contact-phone">{{ node.uid.0.entity.field_phone.0.value }}</div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

